@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

button {
    width: 150px;
    height: 40px;
    border-radius: 30px;
    outline: none;
    border: 1px solid rgb(216, 216, 216);
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    box-shadow: 3px 3px rgb(43, 26, 26);
}

button:hover {
    cursor: pointer;
    background-color: aqua;
}

.display-location {
    border: 3px solid red;
    margin: 15px 0;
    padding: 10px;
}

.display-location p {
    color: red;
    font-weight: 700;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

h4 {
    color: #000;
    display: inline;
}

.loader{
    font-weight: 700;
    margin: 15px 0 0 10px;
}
